.idea/
.vscode/
cmake-build-*
build/
polyhedral_gravity.egg-info
dist/
docs/Doxyfile
src/KDTree/Info.h
.venv/
.pytest_cache/
__pycache__/
CMakeFiles/
CMakeUserPresets.json

dependencies/

# test artifacts
kd_tree_plot_test.png